@page
@model CheckoutModel
@{
}

<script src="https://www.paypal.com/sdk/js?client-id=@(Model.PaypalClientId)&currency=USD"></script>

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Elements
                </h1>
                <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="elements.html"> Elements</a></p>
            </div>
        </div>
    </div>
</section>

<div class="whole-wrap">
    <div class="container">
            <div class="p-5" style="background-color: #08618d">
                <div class="mx-auto p-3 bg-light rounded border" style="width: 420px">
                    <h2 class="text-center mb-5">Checkout</h2>
                    <div class="row mb-3">
                        <div class="col-5">Total Amount</div>
                        <div class="col-7">$@Model.Artwork.price</div>
                    </div>
                </div>
            </div>
        <div id="notification-container">
        </div>
        <div id="paypal-button-container">
        </div>
    </div>

</div>

<script>
    let paypal_buttons = paypal.Buttons({
        createOrder() {
            return fetch(`Checkout?handler=CreateOrder&id=@Model.Artwork.artworkId`, {
                method: "POST"
            })
                .then((response) => response.json())
                .then((order) => order.id);
        },
        onApprove(data) {
            // This function captures the funds from the transaction.
            return fetch("Checkout?handler=CompleteOrder&id=@Model.Artwork.artworkId", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    orderID: data.orderID
                })
            })
                .then((response) => response.json())
                .then((details) => {
                    if (details == "success") {
                        document.getElementById("notification-container").innerHTML =
                            '<div class="alert alert-success" role="alert">Payment successful</div>';
                    }
                    else {
                        document.getElementById("notification-container").innerHTML =
                            '<div class="alert alert-danger" role="alert">Payment failed</div>';
                    }
                });
        },

        onCancel(data) {
            document.getElementById("notification-container").innerHTML =
                '<div class="alert alert-danger" role="alert">Payment cancel</div>';

            return fetch("Checkout?handler=CancelOrder", {
                method: "POST",
                headers: {
                    "Content-type": "application/json",
                },
                body: JSON.stringify({
                    orderID: data.orderID
                })
            });
        },
        onError(err) {
            document.getElementById("notification-container").innerHTML =
                '<div class="alert alert-danger" role="alert">Payment failed</div>';
        }
    });
    paypal_buttons.render('#paypal-button-container');
</script>