@page
@model artshare_server.WebApp.Pages.ProfileModel
@{
}

<section class="quote-area pt-100">
	<div class="container">
		<div>
			<img src="@Model.ProfileViewModel1.AvatarUrl" style="display:block;margin-left:auto;margin-right:auto;width:100px;height:100px;border-radius:100%"/>
		    <h2 style="text-align:center; margin-top:1rem">@Model.ProfileViewModel1.UserName</h2>
			<p style="text-align:center; margin-top:0.5rem">@Model.ProfileViewModel1.FullName</p>
			<p style ="text-align:center;">@Model.ProfileViewModel1.Email</p>
			@if(Model.Check == 1)
			{
				<a class="phucnvm-a" href="./Setting/edit-profile?id=@Model.ProfileViewModel1.AccountId"> Edit Profile</a>
			}			
		</div>

		<div>

		</div>
	</div>
</section>
<style>
	.phucnvm-a{
		background-color: #EEEDEB;
		margin-left: 45%;
		text-align:center;
		padding: 10px 15px 10px 15px;
		color:black;
		font-size:large;
		font-weight:500;
		border-radius: 20px;
	}

	.phucnvm-a:hover{
		color:black;
		background-color: #E3E1D9;
	}
</style>