@page
@model artshare_server.WebApp.Pages.Admins.Genres.CreateModel
@{
}

<section class="banner-area relative" id="home">
    <div class="container">
        <section class="gallery-area section-gap" id="gallery">
            <form id="searchForm" method="post" enctype="multipart/form-data" style="margin:auto;max-width:1000px">
                <div class="input-container mt-10">
                    <input type="text" asp-for="@Model.CreateGenreViewModel.Name" placeholder="Title" required class="single-input">
                </div>
                <div style="display: flex; flex-wrap: wrap; justify-content: center">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <button type="submit" style="margin: auto" class="primary-btn text-uppercase d-flex justify-content-center">Submit</button>
            </form>
        </section>
    </div>
</section>

<style>
    .input-container {
        max-width: 600px; /* Adjust width as needed */
        margin: auto; /* Center horizontally */
        display: flex; /* Use flexbox */
        justify-content: center; /* Center children horizontally */
        padding: 5px;
    }

    .single-input {
        width: 100%;
    }
</style>