@page

@model artshare_server.WebApp.Pages.Creators.CreatorDashboardModel
@{
}
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-8">                
                <h2 class="name">Hello</h2>
                <h1 class="name"></h1>
                <p class="artwork-count"> </p>
                <p class="artwork-count">Email: @Model.Creator.Email </p>
                <p class="artwork-count">Join date: @Model.Creator.JoinDate.Date</p>
                <p class="artwork-count">Number of Artworks: </p> 

            </div>
        </div>
    </div>
</section>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    .profile {
        width: 300px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .name {
        font-size: 24px;
        color: #27ae60;
        margin-bottom: 10px;
    }

    .artwork-count {
        font-size: 16px;
        color: #44b39d;
    }
</style>


